:root {
   /* CSS HSL Base Colors */
   --black: hsl(180deg 5% 4%);
   --snow: hsl(15deg 50% 97%);
   --tart-orange: hsl(0deg 99% 64%);
   --heliotrope: hsl(284deg 100% 72%);
   --portland-orange: hsl(10deg 97% 59%);
   --blue-ncs: hsl(195deg 100% 39%);
   --pacific-blue: hsl(187deg 66% 48%);

   /* CSS HSL Color Levels:
      This makes it easier to use variations of a color
      without having to calculate or look up values
   */

   /* black */
   --black-10: hsl(180deg 5% 40%);
   --black-9: hsl(180deg 5% 36%);
   --black-8: hsl(180deg 5% 32%);
   --black-7: hsl(180deg 5% 28%);
   --black-6: hsl(180deg 5% 24%);
   --black-5: hsl(180deg 5% 20%);
   --black-4: hsl(180deg 5% 16%);
   --black-3: hsl(180deg 5% 12%);
   --black-2: hsl(180deg 5% 8%);
   --black-1: var(--black);
   --black-0: hsl(180deg 5% 0%);

   /* gray */
   --gray-10: hsl(180deg 5% 100%);
   --gray-9: hsl(180deg 5% 95%);
   --gray-8: hsl(180deg 5% 90%);
   --gray-7: hsl(180deg 5% 85%);
   --gray-6: hsl(180deg 5% 80%);
   --gray-5: hsl(180deg 5% 75%);
   --gray-4: hsl(180deg 5% 70%);
   --gray-3: hsl(180deg 5% 65%);
   --gray-2: hsl(180deg 5% 60%);
   --gray-1: hsl(180deg 5% 55%);
   --gray-0: hsl(180deg 5% 50%);

   /* Color Aliases */
   --background: var(--snow);
   --foreground: var(--black);
   --accent: var(--heliotrope);
   --primary: var(--pacific-blue);
   --link: var(--primary);
   --hover: var(--accent);
   --blur: var(--black-6);
   --focus: var(--black-0);
}

/* [href]:hover {
   color: var(--accent);
} */

/* @media screen and (prefers-color-scheme: dark) {
   :root {
      --foreground: var(--snow);
      --background: var(--rich-black-fogra-29);
      --accent: var(--pacific-blue);
      --primary: var(--heliotrope);
   }
} */
