:root {
   font-family: 'Atkinson Hyperlegible';
}

html,
body {
   font-size: 1em;
   background: var(--background);
   color: var(--foreground);
}

header,
main,
footer {
   margin: 0 auto;
}

button, a {
   cursor: pointer;
   text-decoration: none;
}

a:hover, .header-main-link:hover {
   text-decoration: underline;
}

.header-inner {
   display: flex;
   align-items: baseline;
   justify-content: center;
   gap: 1rem;
   flex-wrap: wrap;
}

.header-main-link {
   margin: 0;
   padding: 0;
   line-height: 1;
}

.header-main-link a {
   text-decoration: none;
   letter-spacing: 0.125em;
}

.header-menu {
   display: flex;
   gap: 1rem;
   list-style-type: none;
   margin: 0;
   padding: 0;
}

.menu-item-link {
   background: transparent;
   border: none;
   padding: 1rem;
   font-size: 1.125rem;
}

.menu-toggle {
   position: absolute;
      height: 3rem;
      width: 3rem;
      border-radius: 0.5rem 0.5rem 0 0;
      border: none;
      border: 1px solid transparent;
      border-bottom: none;
      background: var(--foreground);
      color: var(--background);
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
      font-size: 2rem;
      font-weight: 600;
      transition: color 0.125s ease-in-out,
                  background-color 0.125s ease-in-out,
                  border-color 0.125s ease-in-out;
   transform: translateX(-800%);
   /* opacity: 0; */
}


/* Media Queries */

/* Narrow screens */
@media screen and (max-width: 41rem) {
   header,
   main,
   footer {
      width: 100vw;
   }
   .header-inner {
      flex-direction: column;
      align-items: center;
   }
}

/* Tablet landscape -- narrower */
@media screen and (max-width: 47rem) {
   header,
   main,
   footer {
      width: 90vw;
   }
}

/* Tablet landscape -- wider */
@media screen and (min-width: 48rem) {
   header,
   main,
   footer {
      width: 80vw;
   }
}

/* Tablet landscape -- wider*/
@media screen and (min-width: 64rem) {
   header,
   main,
   footer {
      width: 75vw;
   }
}

/* Desktop monitor -- wider */
@media screen and (min-width: 80rem) {
   header,
   main,
   footer {
      width: 70vw;
   }
}

/* Max width for horizontal header = 38rem*/
@media screen and (min-width: 38rem) {
   .header-inner {
      justify-content: space-between;
   }
}

/* Phones */
@media screen and (max-width: 25rem) {
   nav {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 2rem;
      background: var(--background);
      z-index: 999;
      transform: translateX(-100%);
      transition: all 0.2s ease-out;
      opacity: 0;
      box-shadow: 5px 0 20px rgba(0, 0, 0, 0.2);
   }
   .menu-open {
      transform: translateX(0);
      opacity: 1;
   }
   .header-menu {
      height: 100%;
      flex-direction: column;
      justify-content: center;
      gap: 2rem;
   }
   .menu-item {
      align-self: stretch;
      min-width: 100%;
      text-align: center;
   }
   .menu-item-link {
      font-size: 1.5rem;
      letter-spacing: 0.125em;
   }
   .menu-toggle {
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1000;
   }
   .menu-toggle:hover {
      color: var(--foreground);
      background: var(--background);
      border-color: var(--foreground);
   }
}